@import './variable/_variable.scss';
@import './mixin/mixin.scss';
//Dùng vòng lặp để tạo ra các ultility class cđể sử dụng trong nhiều dự án
//margin và padding
$spacer: 1;
@for $numbers from 0 through 5 {
    .m-#{$numbers + 1}  {
        margin: $spacer * $numbers + rem;
    }

    mt-#{$numbers + 1} {
        margin-top: $spacer * $numbers + rem;
    }

    mb-#{$numbers + 1} {
        margin-bottom: $spacer * $numbers + rem;
    }

    ml-#{$numbers + 1} {
        margin-left: $spacer * $numbers + rem;
    }

    mr-#{$numbers + 1} {
        margin-right: $spacer * $numbers + rem;
    }

}

//cách tạo ra các ultility class liên quan về màu sắc
$arr-color: ("green":"green","red":"red","orange":"orange");
@each $color,$value in $arr-color {
    .bg-#{$color}{
        background-color: $value;
    }
}



//EXTEND : giống như MIXIN nhưng không thể thay đổi giá trị, truyền tham số
.position_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// reset css
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

// container
.container {
    max-width: 1280px;
    margin: 0 auto;
}

// Nested css : cơ chế cho viếc css class con bên trong class cha
header {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 20px 0;
    background-color: $color-bg;
    position: relative;
    // loại bỏ text-decoration
    a {
        text-decoration: none;
    }

    .header_content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header_logo {
            a {
                @include styleTitle(24px);                
            }
        }

        nav {
            ul {
                list-style: none;
                li {
                    display: inline-block;
                    margin: 0 10px;
                    // ứng dụng parent selector để tạo ra selector li.active
                    &.active {
                        a {
                            color: $color-blue-1;
                            &::before {
                                width: 100%;
                            }
                        }
                    }
                    a {
                        @include styleContent();
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            width: 0%;
                            height: 3px;
                            background-color: $color-blue-1;
                            bottom: -10px;
                            left: 0;
                            transition: all 0.5s;
                        }

                        //hover để hiển thị before
                        &:hover::before {
                            width: 100%;
                        }
                    }

                }
            }
        }
    }
}

.banner {
    background-image: url(../img/product-header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    background-position: bottom;
    .banner_content {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .banner_text {
            width: 40%;
            //để sử dụng MIXIN cần thêm @include phía trước
            h1 {
                margin: 10px 0;
                @include styleTitle($fs-title);
            }
            .sub_title {
                margin: 10px 0;
                @include styleSubTitle($fs-sub-title);
            }

            .desciption {
                font-size: 18px;
                line-height: 16px;
                margin: 10px 0;
            }

            .group_button {
                button {
                    &:first-child {
                        @include styleButton();
                    }

                    &:last-child {  
                        @include styleButton2($box-shadow);
                    }
                }
            }
        }

        .banner_img {
            width: 60%;
            padding-left: 50px;
            img {
                height: 500px;
                
            }
        }
    }
}

.product {
    padding: 40px 0;
    h2 {
        margin: 30px 0;
        @include styleSubTitle(30px);
        @extend .position_center;
    }

    .product_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-top: 5%;
        @media screen and (max-width:992px) {
            grid-template-columns: repeat(2, 1fr);
        }
        .item {
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            border-radius: 8px;
            animation-name: zoomIn;
            animation-duration: 2s;
            animation-iteration-count: 1;
            transform: scale(0);
            animation-fill-mode: forwards;  //giữ lại giá trị sau cùng khi chạy animation
            //@for : vòng lặp trong sass
            @for $number from 1 through 5 {
                &:nth-child(#{$number + 1}){
                    animation-delay: $number *1s; 
                }
            }

            img {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                width: 90%;
                margin: 5%;
                border-radius: 8px;
            }

            h3 {
                display: flex;
                justify-content: space-between;
                margin: 0 5% 5%;
                @include styleTitle(25px);
            }

            p {
                @include styleSubTitle(18px);
                margin: 0 5% 5%;
            }

            .btn_group {
                display: flex;
                justify-content: space-between;
                margin: 0 5% 5%;
                .product_rate {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    i {
                        color: gold;
                        margin: 2px;
                        font-size: 25px;
                    }
                }
                button {
                    width: 50%;
                    @include styleButton2(unset);
                }
            }
        }
    }
}

footer {
    background-color: $color-blue-1;
    @extend .position_center;
    h3 {
        margin: 2% auto;
        color: $color-bg;
    }
}

@keyframes zoomIn {
    //đầu tiên scale 0%
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
